# Environment files
.env

# Database
db.sqlite3
*.sqlite3

# Python cache
*.log
*.pot
*.pyc
*.pyo
__pycache__/

# Virtual environments
venv/
env/
env*/

# Media files (IGNORE ALL MEDIA)
media/

# Sensitive files
*.pem
*.key
*.bak
*.swp

# Node modules
node_modules/

# IDE files
.vscode/
.idea/
*.iml

# OS files
.DS_Store
Thumbs.db